<!DOCTYPE html>
<html>
    <head>
        <title>MEMORY OF COMPUTING</title>
        <link rel="stylesheet" href="/static/m1style.css">
        <script src="/static/m1script.js"></script>
    </head>
    <body>
        <h1>Connect The Pipes!!!</h1>
        <div id="popup1" hidden>
            <div id="popup">
                <h1>Deep In Your Memories, You Remember The Trauma Of Troubleshooting...</h1>
                <h3>It Took You Hours To Make This And It Returns The Error Code <b>4</b></h3>
                <h3>&lpar;definitely not based on any real experience&rpar;</h3>
                <h3>I Guess it's not terrible for your <b>THIRD</b> project...</h3>
                <a id="newTab" onclick="getNewPage()" href="">Onto The Next</a>
            </div>
        </div>
        
        <div class="design">
            <button style="top:400px; left:810px" class="pipes" onclick="buttonToggle(0)">→</button>
            <button style="top:350px; left:100px" class="pipes" onclick="buttonToggle(1)">→</button>
            <button style="top:640px; left:855px" class="pipes flipped" onclick="buttonToggle(2)">→</button>
            <button style="top:590px; left:200px" class="pipes flipped" onclick="buttonToggle(3)">→</button>
        </div> 
        <br>
    </body>
</html>