<!DOCTYPE html>
<html>
    <head>
        <title>MEMORY OF CRASHING</title>
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/script.js"></script>
    </head>
    <body onload="fix()">
        <div class="sideways">
            <img src="../static/assets/codesnippet1.png" height="1000px"/>
            <br>
            <img src="../static/assets/codesnippet2.png" height="25%"/>
            <br>
            <h2 style="font-family: arial;">The Trauma of Coding Your <b>First</b> Project Stays With You After All This Time...</h2>
            <h2 style="font-family: arial;">You Remember How It Kept Giving You Error Code <b>2</b> Over And Over</h2>
            <br>
            <a id="newTab" onclick="getNewPage()" href="" target="_parent">Click For A New Opportunity</a>
        </div>
        <a id="newTab" onclick="getNewPage()" href="">click</a>
    </body>
</html>