<!DOCTYPE html>
<html>
    <head>
        <title>MEMORY OF POVERTY</title>
        <link rel="stylesheet" href="/static/m3style.css">
        <script src="/static/script.js"></script>
    </head>
    <body>
        <h1><i>You Remember Falling Into Poverty After Completing Your Computer Science Degree...</i></h1>
        
        <img src="../static/assets/compsciwallet.png"/>
        <br>
        <br>
        <h2>You saved <b>5</b> hundred thousand dollars but this was the <b>SECOND</b> cheapest house in your area...</h2>
        <img src="../static/assets/compscihouse.png" height="1000px"/>
        <br>
        <br>
        <h2>This is how you looked <b>7</b> weeks after getting your degree, <br> 
            which is ironic because that's the error code you kept getting on you <b>FIFTH</b> project.</h1>
        <img src="../static/assets/squidwardcs.gif"/>
        <br>
        <a id="newTab" onclick="getNewPage()" href="">Click For A New Opportunity</a>
    </body>
</html>