<!DOCTYPE html>
<html>
    <head>
        <title>THE ABYSS</title>
        <link rel="stylesheet" href="/static/abyss_style.css">
        <script src="/static/abyss.js"></script>
    </head>
    <body>
        <div id="fade"></div>
        <br>    
        <h1>In your search for peace, you've fallen into...</h1>
        <h1 id="abyssText">THE ABYSS</h1>
        <p></p>
        <div id="homeButton">
            <p>You've come so far, only to end up back where you started.<br><i>But that doesn't mean you haven't learned anything...</i><br>
            <br><span id="seqReveal">The Fourth Number In The Pin Sequence Is: 8</span></p><br>
        </div>
        <button id="homeButton" onclick="fadeAway()">Try Again</button>
    </body>
</html>