<!DOCTYPE html>
<html>
    <head>
        <title>Lab 7 Log In</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Log In</h1>
        <div>
        <form method="post">
            <h3>Email<span style="color: red;">*</span></h3>
            <input type="email" name="Email" required placeholder="example@mail.com">
            <h3>Password<span style="color: red;">*</span></h3>
            <input type="password" name="Password" required>
            <input type="submit">
        </form>
        </div>
        
        <br>
        <a href="/">
            <button type="button" id="home">Home</button>
        </a>
    </body>
</html>